.item-color {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ed2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.carousel-container {
  background: #333333;
}

.card-hover :hover {
  filter: brightness(80%);
  cursor: pointer;
}

.card {
  background-color: #444444;
}

.card-title {
  color: whitesmoke;
}
.card-title:hover {
  box-shadow: none;
}

.eq-card.ui.card {
  flex: 1; /* Shrink and grow according to available height */
  flex-basis: 0;
}

.navbar {
  height: 80px;
}

.nav-item {
  padding: 20px;
}

a.middle {
  position: relative;
}

.dark {
  background-color: rgb(44, 44, 44);
}

#under1:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 28px;
  margin-left: -2px;
}

#under1:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 2px;
}

#under4:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under4:before {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 2px;
}

#under:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under2:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 5px;
}

#under2:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under3:before {
  content: "";
  position: absolute;
  width: 78px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 2px;
}

#under3:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}

#btn-grad {
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  font-family: "Avenir Next";
  font-size: 1rem;
  padding: 5px 13px;
  color: color-black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
  box-shadow: 2px 1000px 1px linear-gradient(to right, 101deg, #78e4ff, #ff48fa)
    inset;
}

#lab {
  background-color: rgb(228, 225, 225);
  height: 40px;
  width: 250px;
  margin-left: 10px;
}

.fas {
  margin-right: 10px;
  size: 25px;
}

.far {
  margin-right: 10px;
  size: 25px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.butn-grad {
  background-image: linear-gradient(
    to right,
    #fc00ff 0%,
    #00dbde 51%,
    #fc00ff 100%
  );
}

#b1 {
  margin-left: auto;
  margin-right: auto;
}

.butn {
  background-image: linear-gradient(101deg, #7891ff, #ff48fa);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  color: color-black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #5495f5, #df0dd8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
  box-shadow: 2px 1000px 1px linear-gradient(to right, 101deg, #78e4ff, #ff48fa)
    inset;
}

.butn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.butn:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  scroll-behavior: smooth;
}

.bg-dark {
  color: white;
}

.input-field {
  background-color: rgb(202, 202, 202);
  color: white;
}

#pass {
  background-color: rgb(202, 202, 202);
  color: black;
}

.py-3 {
  background-color: rgb(44, 44, 44);
}

#psw {
  margin-left: 126px;
}

.fa-user-tie {
  color: black;
  margin-top: -22px;
}

.fa-lock {
  margin-top: -43px;
  color: black;
}

.lock {
  margin-top: -90px;
  color: black;
}

.envelope {
  margin-top: -43px;
  color: black;
}

.fa-key {
  margin-top: -65px;
  color: black;
}

#bg-dark {
  width: 355px;
}

#bg-dark1 {
  width: 350px;
}

.fa-google-plus {
  margin-left: 100px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(255, 60, 99);
}

.twitter {
  margin-left: 20px;
  margin-top: -40px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 174, 255);
}

.fa-facebook {
  cursor: pointer;
  margin-left: 20px;
  margin-top: -80px;
  font-size: 25px;
  color: rgb(62, 62, 255);
}

#footdec {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#user {
  font-size: 20px;
  background-color: grey;
}

.input {
  color: black;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
}

#h2 {
  text-align: center;
  background: -webkit-linear-gradient(#00dbde 30%, #fc00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close {
  position: absolute;
  right: 22px;
  top: -17px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.body-color {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  background-image: none;
}

.navbar {
  height: 80px;
}

.nav-item {
  padding: 20px;
}

a.middle {
  position: relative;
}

.dark {
  background-color: rgb(44, 44, 44);
}

#under1:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 28px;
  margin-left: -2px;
}

#under1:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 2px;
}

#under4:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under4:before {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 2px;
}

#under:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under2:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 5px;
}

#under2:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#under3:before {
  content: "";
  position: absolute;
  width: 78px;
  height: 2px;
  background-color: rgb(186, 37, 223);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  margin-top: 37px;
  margin-left: 2px;
}

#under3:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}

#btn-grad {
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  font-family: "Avenir Next";
  font-size: 1rem;
  padding: 5px 13px;
  color: color-black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
  box-shadow: 2px 1000px 1px linear-gradient(to right, 101deg, #78e4ff, #ff48fa)
    inset;
}

#lab {
  background-color: rgb(228, 225, 225);
  height: 40px;
  width: 250px;
  margin-left: 10px;
}

.fas {
  margin-right: 10px;
  size: 25px;
}

.far {
  margin-right: 10px;
  size: 25px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.butn-grad {
  background-image: linear-gradient(
    to right,
    #fc00ff 0%,
    #00dbde 51%,
    #fc00ff 100%
  );
}

.butn-grad1 {
  background-image: linear-gradient(
    to right,
    #1d8504 0%,
    #64bb2a 51%,
    #15ff00 100%
  );
}

.butn-grad2 {
  background-image: linear-gradient(
    to right,
    #bd0000 0%,
    #e22222 51%,
    #ff0000 100%
  );
}

#b1 {
  margin-left: auto;
  margin-right: auto;
}

.butn {
  background-image: linear-gradient(101deg, #7891ff, #ff48fa);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  color: color-black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #5495f5, #df0dd8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
  box-shadow: 2px 1000px 1px linear-gradient(to right, 101deg, #78e4ff, #ff48fa)
    inset;
}

.butn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.butn:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.bg-dark {
  color: white;
}

.input-field {
  background-color: rgb(202, 202, 202);
  color: white;
}

#pass {
  background-color: rgb(202, 202, 202);
  color: black;
}

.py-3 {
  background-color: rgb(44, 44, 44);
}

#psw {
  margin-left: 126px;
}

.fa-user-tie {
  color: black;
  margin-top: -22px;
}

.fa-lock {
  margin-top: -43px;
  color: black;
}

.lock {
  margin-top: -90px;
  color: black;
}

.envelope {
  margin-top: -43px;
  color: black;
}

.fa-key {
  margin-top: -65px;
  color: black;
}

#bg-dark {
  width: 355px;
}

#bg-dark1 {
  width: 350px;
}

.fa-google-plus {
  margin-left: 100px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(255, 60, 99);
}

.twitter {
  margin-left: 20px;
  margin-top: -40px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 174, 255);
}

.fa-facebook {
  cursor: pointer;
  margin-left: 20px;
  margin-top: -80px;
  font-size: 25px;
  color: rgb(62, 62, 255);
}

#footdec {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#user {
  font-size: 20px;
  background-color: grey;
}

.input {
  color: black;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
}

#h2 {
  text-align: center;
  background: -webkit-linear-gradient(#00dbde 30%, #fc00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pro {
  background: -webkit-linear-gradient(108deg, #ff8800 20%, #ffc72d 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pros {
  background: -webkit-linear-gradient(108deg, #4f42ff 20%, #2de6ff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 90px;
}

.over {
  overflow: scroll;
}

#bb {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#h3 {
  background-image: linear-gradient(
    to right,
    #fd6fff 0%,
    #00dbde 51%,
    #fc00ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close {
  position: absolute;
  right: 22px;
  top: -17px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.navbar-nav > .nav-item > a {
  position: relative;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.fa-comment-dots {
  cursor: pointer;
  font-size: 40px;
}

.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}

.label-text {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #06c;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}

.my-float {
  font-size: 24px;
  margin-top: 18px;
  text-decoration: none;
}

.float:hover {
  color: white;
}

.fa-comment-dots:hover {
  color: white;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.body-color {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  background-image: none;
}

.item-color {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ed2;
}

/* cell number */

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.carousel-container {
  background: #333333;
}

.card-hover :hover {
  filter: brightness(80%);
  cursor: pointer;
}

.card {
  background-color: #444444;
}

.card-title {
  color: whitesmoke;
}

.card-title:hover {
  box-shadow: none;
}

.eq-card.ui.card {
  flex: 1;
  /* Shrink and grow according to available height */
  flex-basis: 0;
}
